4iot sensors.json
[{"id":"4e4f36f1.a60888","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"8ef9bbfd.a3bfb8","type":"ibmiot in","z":"4e4f36f1.a60888","authentication":"apiKey","apiKey":"4354ae6e.ca067","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":200,"wires":[["c97a43e9.c6c81","96668cf6.de13d","aee697aa.e7fb18","73573f08.de071","471a0b6b.80d564"]]},{"id":"c97a43e9.c6c81","type":"debug","z":"4e4f36f1.a60888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":200,"wires":[]},{"id":"96668cf6.de13d","type":"ui_gauge","z":"4e4f36f1.a60888","name":"","group":"e6e97ea3.add2d","order":0,"width":0,"height":0,"gtype":"gage","title":"AtmosphericPressure","label":"pascals","format":"{{msg.payload.AtmosphericPressure}}","min":0,"max":"14.696","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":260,"wires":[]},{"id":"aee697aa.e7fb18","type":"ui_gauge","z":"4e4f36f1.a60888","name":"","group":"70b1d9a6.b4b3b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Proximity","label":"m","format":"{{msg.payload.Proximity}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":300,"wires":[]},{"id":"73573f08.de071","type":"ui_gauge","z":"4e4f36f1.a60888","name":"","group":"cbe8c805.a030c8","order":0,"width":0,"height":0,"gtype":"gage","title":"AirVelocity","label":"f/m","format":"{{msg.payload.AirVelocity}}","min":"0.3","max":"0.9","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":360,"wires":[]},{"id":"471a0b6b.80d564","type":"ui_gauge","z":"4e4f36f1.a60888","name":"","group":"b2293576.ab4408","order":0,"width":0,"height":0,"gtype":"gage","title":"NoiseLevel","label":"db","format":"{{msg.payload.NoiseLevel}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":400,"wires":[]},{"id":"4354ae6e.ca067","type":"ibmiot","z":"","name":"new api","keepalive":"60","serverName":"tbz7ej.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e6e97ea3.add2d","type":"ui_group","z":"","name":"AtmosphericPressure","tab":"589d11f1.c3a64","order":1,"disp":true,"width":"6","collapse":false},{"id":"70b1d9a6.b4b3b8","type":"ui_group","z":"","name":"Proximity","tab":"589d11f1.c3a64","order":2,"disp":true,"width":"6","collapse":false},{"id":"cbe8c805.a030c8","type":"ui_group","z":"","name":"AirVelocity","tab":"589d11f1.c3a64","order":3,"disp":true,"width":"6","collapse":false},{"id":"b2293576.ab4408","type":"ui_group","z":"","name":"NoiseLevel","tab":"589d11f1.c3a64","order":4,"disp":true,"width":"6","collapse":false},{"id":"589d11f1.c3a64","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]